.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 12px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  height: 48px;
  position: relative;
}

.logo-img {
  position: absolute;
  width: 150px;
  height: 150px;
  object-fit: contain;
  top: -51px;
  left: 0;
}

.brand {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
  line-height: 48px;
  padding-left: 100px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  max-width: 400px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.search-icon .icon {
  width: 100%;
  height: 100%;
  fill: #333;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 8px;
  background-color: transparent;
  min-width: 0;
}


.key-command {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}

.command-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e5;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.key-command span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}