.footer {
  margin-top: -16px;
  padding: 12px 16px;

}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info {
  margin-left: 12px;
  text-align: left;
}

.info .name {
  font-weight: bold;
  font-size: 14px;
}

.info .email {
  font-size: 12px;
  color: #888888;
}